---
layout: default
heading: "Mapping the Reef: Underwater 3D Reconstruction for Coral Ecosystems"
heading_main: "Mapping the Reef:"
heading_sub1: "Underwater 3D Reconstruction"
heading_sub2: "for Coral Ecosystems"
subheading: "Workshop at Robotics: Science and Systems (RSS) 2026"
subheading2: "Room CB11.B1.101 | Friday, July 17, 2026 | 8:30 AM - 12:30 PM"
image: "http://placehold.it/800x500"
---

{% include header.html %}

<div class="container">
  {% include features.html %}
  {% include footer.html %}
</div>
